/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure full viewport height */
    font-family: 'Poppins', sans-serif; /* Poppins for better readability */
    display: flex;
    flex-direction: column; /* Stack content and footer */
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: auto;
    animation: gradientShift 10s ease infinite;
    color: #f0f0f0;
    background-image: url('e773d237-991f-4140-8866-73045f0304be.jpeg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 90vh; /* Minimum height of the body to fill the screen */
}

/* Full-screen container */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Make sure the content area takes up all available space */
}

/* Centered content styling */
.content {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px; /* Slightly larger border radius */
    max-width: 100%;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

h1 {
    font-size: 2.6rem; /* Increased size for better readability */
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.email-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.email-link:hover {
    color: #f3a847; /* Added hover effect for the email */
}

/* Social Icons Styling in Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: transparent; /* No background for footer */
    color: #ffffff;
    width: 100%; /* Ensure footer spans the full width */
    margin-top: 15px; /* Push footer to the bottom */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 10px; /* Spacing between icons and copyright text */
}

.social-icon {
    color: #ffffff;
    font-size: 1.4rem; /* Larger icons */
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #f3a847; /* Hover effect for social icons */
}

/* Copyright Text Styling */
footer .copyright {
    font-size: 0.6rem; /* Smaller text for copyright */
    color: #f0f0f0;
}

/* Keyframes for gradient animation */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
    }
}
