html {
    background-color: #0D1116;
    font-size: 12px;
    margin: 25px;
}

body {
    font-family: Monaco, Terminal, monospace;
    font-size: 1.4em;
    color: #F0F6FC;
    margin: 25px;
}

a {
    color: #2BBDB5;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.8s infinite;
    -moz-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.element {
    display: inline-block;
}

.display-none {
    display: none;
}
